@model nvprojet.Models.autocar
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutSociete.cshtml";
}
<br /><br />
<h1 style="font-size:45px">ajouter votre véhicule</h1>
<br /><br />

<form method="post" action="/autocars/ajouter" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.libele, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.libele, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.libele, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marque, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marque, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marque, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.wifi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.wifi)
                    @Html.ValidationMessageFor(model => model.wifi, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nbr_place, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nbr_place, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nbr_place, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="_image" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_ste, "id_ste", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_ste", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_ste, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-outline-secondary" href="/trajet/afficher">retour</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


