@model nvprojet.Models.autocar

@{
    ViewBag.Title = "Details";
}

<h2>Details du véhicule</h2><br />
<img src="~/images/@Model.img" width="450" height="250" />

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.libele)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.libele)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marque)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marque)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nbr_place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nbr_place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.societe.nom_s)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.societe.nom_s)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-lg" href="/autocars">retour</a>
    <a  class="btn btn-success" style="color:white" href="/autocars/modifier/@Model.id">modifier</a>
</p>
