@model nvprojet.Models.trajet
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutSociete.cshtml";
}
<br /><br />
<h2>creer votre trajet</h2><br />


<form method="post" action="/trajet/ajouter">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ville_depart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ville_depart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ville_depart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ville_arriver, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ville_arriver, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ville_arriver, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.heure_dep, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.heure_dep, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.heure_dep, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.heur_arv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.heur_arv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.heur_arv, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.id_aut, "id_aut", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_aut", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_aut, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ajouter" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-lg" href="/trajet/choisir">retour</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


